// 按钮大小计算
@mixin button-size($font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
}

// 按钮样式计算
@mixin button-style(
    $color,
    $backgroundColor,
    $border: darken($color: $backgroundColor, $amount: 7.5%),
) {
    color: $color;
    background: $backgroundColor;
    border-color: $border;
}