.ararin-icon {
    width: .2rem;
    height: .2rem;
    display: inline-flex;
    margin-right: .07rem;
    img,
    svg {
        padding: 0;
        margin: 0;
        vertical-align: inherit;
        width: 100%;
        height: 100%;
    }
}

.ararin-icon-spin {
    position: relative;
    animation: ararinSping 1s linear infinite ;
}

.ararin-icon-close {
    width: 4.6vw;
    height: 4.6vw;
    margin-right: 0;
}

@keyframes ararinSping {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg)
    }
}
