.ararin-icon {
    width: .22rem;
    height: .22rem;
    display: inline-flex;
    img,
    svg {
        padding: 0;
        margin: 0;
        vertical-align: inherit;
        width: 100%;
        height: 100%;
    }
}

.ararin-icon-spin {
    position: relative;
    animation: ararinSping 1s linear infinite ;
}

.ararin-icon-close {
    margin-right: 0;
}

@keyframes ararinSping {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg)
    }
}

.ararin-icon-showHide {
    cursor: pointer;
    svg {
        stroke: #32b5e9;
    }
    .ararin-icon-showHide-top {
        d: path("M10,49 Q50,10 90,49");
        transition:  .3s all ease-in-out;
    }

    .ararin-icon-showHide-bottom {
        transition:  .3s all ease-in-out;
    }
    
    .ararin-icon-showHide-eye-ball {
        stroke-dasharray: 100;
        stroke-dashoffset: 0;
        transition:  .3s all ease-in-out;
        transition-delay: 0.15s;
    }
    
    .ararin-icon-showHide-trigger-active {
        stroke: rgba($color: #000000, $alpha: .1);

        .ararin-icon-showHide-top {
            transition-delay: .1s;
            d: path("M10,50 Q50,90 90,50");
        }
    
        .ararin-icon-showHide-eye-ball {
            stroke-dashoffset: 100;
            transition-delay: 0s;
        }
    }
}

@keyframes ararinStaticSpin {
    from {
        transform: rotate(-135deg);
        transform-origin: 50% 50%;
    }
    to {
        transform: rotate(-495deg);
        transform-origin: 50% 50%;
    }
}

.ararin-icon-loading  {
    stroke: rgba(50,181,233, 1);
    transition:  1.8s all ease-in-out;
    
    .ararin-circle {
        animation: ararinStaticSpin 1s linear infinite;
    }
}

.ararin-icon-loading.ararin-icon-failed {
    stroke: rgba(237,90,101, 1);

    .ararin-circle {
        animation: ararinAllCircle .55s linear;
        animation-fill-mode: forwards;
    }

    @keyframes ararinAllCircle {
        from {
          stroke-dashoffset: 330
        }
        to {
          stroke-dashoffset: 564
        }
      }
    
  .ararin-lineOne {
    animation: ararinLineOne .35s linear;
    animation-fill-mode: forwards;
    animation-delay: .55s
  }

  @keyframes ararinLineOne {
    from {
      d: path("M28 28 28 28");
    }
    to {
      d: path("M28 28 L72 72");
    }
  }

  .ararin-lineTwo {
    animation: ararinLineTwo .55s ease;
    animation-fill-mode: forwards;
    animation-delay: .9s;
  }

  @keyframes ararinLineTwo {
    from {
      d: path("M72 28 L72 28");
    }
    to {
      d: path("M72 28 L28 72");
    }
  }
}
