
.ararin-notify {
    & > div {
        position: fixed;
        z-index: 999;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.ararin-notify-no-mask {
    & > div {
        pointer-events: none;
    }
}

.ararin-notify-notice {
    margin-top: -.3rem;
    padding: .07rem .12rem;
    background: rgba(0, 0, 0, .55);
    color: #fff;
    border-radius: .05rem;
}

.ararin-notify-with-icon {
    min-width: .8rem;
    margin-top: .1rem;
    text-align: center;
    .ararin-notify-text-icon {
        .ararin-icon {
            width: 0.33rem;
            height: 0.33rem;
        }
    }
}

.an-fade-appear {
    opacity: 0;
} 
.an-fade-appear-active {
    opacity: 1;
    transition: .3s all ease;
}

.an-fade-exit-active {
    opacity: 0;
    transition: .3s all ease;
}