.ararin-dialog-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(55, 55, 55);
    background-color: rgba(55, 55, 55, 0.35);
    filter: alpha(opacity=50);
}

.ararin-dialog-wrap  {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ararin-dialog {
  width: 70vw;
  height: 80vw;
  background-color: #fff;
  border-radius: 1.5vw;
}

@mixin fade-effect() {
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
}

  .ararin-dialog-fade-enter,.ararin-dialog-fade-appear {
    opacity: 0;
    @include fade-effect();
    animation-play-state: paused;
  }

  .ararin-dialog-fade-leave {
    @include fade-effect();
    animation-play-state: paused;
  }

  .ararin-dialog-fade-enter.ararin-dialog-fade-enter-active,
  .ararin-dialog-fade-appear.ararin-dialog-fade-appear-active  {
    animation-name: rcDialogFadeIn;
    animation-play-state: running;
  }

  .ararin-dialog-fade-leave.ararin-dialog-fade-leave-active {
    animation-name: rcDialogFadeOut;
    animation-play-state: running;
  }

  @keyframes rcDialogFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes rcDialogFadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes rcDialogZoomIn {
    0% {
      opacity: 0.2;
      top: 4vw;
    }

    100% {
      opacity: 1;
      top: 0vw;
    }
  }
  @keyframes rcDialogZoomOut {
    0% {
      opacity: 1;
      top: 0vw;
    }
    100% {
      opacity: 0.2;
      top: 4vw;
    }
  }

@mixin effect() {
    animation-duration: .5s;
    animation-fill-mode: both;
  }
  
.ararin-dialog-zoom-enter, .ararin-dialog-zoom-appear {
    opacity: 0;
    @include effect();
    animation-timing-function: cubic-bezier(0,.1,.3,1);
    animation-play-state: paused;
    position: relative;
  }

  .ararin-dialog-zoom-leave {
    @include effect();
    animation-timing-function: cubic-bezier(0,.1,.3,1);
    animation-play-state: paused;
    position: relative;
  }

  .ararin-dialog-zoom-enter.ararin-dialog-zoom-enter-active, .ararin-dialog-zoom-appear.ararin-dialog-zoom-appear-active {
    animation-name: rcDialogZoomIn;
    animation-play-state: running;
    position: relative;
  }

  .ararin-dialog-zoom-leave.ararin-dialog-zoom-leave-active {
    animation-name: rcDialogZoomOut;
    animation-play-state: running;
    position: relative;
  }